version: '3.1'

services:
  mysql:
    image: mysql:5.7
    restart: always
    ports:
    - 8081:3306
    environment:
      MYSQL_USER: wordpress
      MYSQL_ROOT_PASSWORD: wordpress
      MYSQL_DATABASE: wordpress
      MYSQL_PASSWORD: wordpress
    networks:
    - backend

  wordpress:
    depends_on:
    - mysql
    image: wordpress:latest
    ports:
    - 2121:80
    restart: always
    volumes:
    - ./wp-content:/var/www/html/wp-content
    working_dir: /var/www/html
    environment:
      WORDPRESS_DB_HOST: mysql:3306
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
    networks:
    - frontend
    - backend

networks:
  backend:
  frontend:
    external:
      name: proxy
