<?xml version="1.0"?>
<ruleset name="Mywp">
	<description>Sniffs for the coding standards of The Sun.</description>

	<!-- Scanning preferences -->
	<arg value="s"/> <!-- Show sniff and progress -->
	<arg name="colors"/> <!-- Show results with colors. Disable if working on Windows -->
	<arg name="basepath" value="."/> <!-- Strip the file paths down to the relevant bit -->
	<arg name="parallel" value="8"/> <!-- Enables parallel processing when available for faster results -->
	<arg name="extensions" value="php"/> <!-- Limit to PHP files -->
	<arg name="error-severity" value="1"/>
	<arg name="warning-severity" value="1"/>

	<!-- Exclude vendor directories -->
	<exclude-pattern>node_modules/</exclude-pattern>
	<exclude-pattern>vendor/</exclude-pattern>

</ruleset>
